<form [formGroup]="creditDetailsForm" (ngSubmit)="calculate(creditDetailsForm.value)" novalidate>

  <md-input-container>
    <input mdInput type="number" placeholder="Kwota kredytu" [formControl]="creditDetailsForm.controls['amount']" min="0">
  </md-input-container>

  <md-input-container>
    <input mdInput type="number" placeholder="Liczba miesięcy" [formControl]="creditDetailsForm.controls['months']" min="0">
  </md-input-container>

  <button md-mini-fab type="submit"><md-icon>cached</md-icon></button>

</form>

<table>
  <thead>
    <tr>
      <th>Miesiąc</th>
      <th>Odsetki</th>
      <th>Spłacony kapitał</th>
      <th>Rata miesięczna</th>
      <th>Dług</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of calculationResult; let number = index">
      <td>{{number+1}}</td>
      <td>{{report.interest | number:'1.2-2'}} zł</td>
      <td>{{report.loanCapital | number:'1.2-2'}} zł</td>
      <td>{{report.interest + report.loanCapital | number:'1.2-2'}} zł</td>
      <td>{{report.remainingDebt | number:'1.2-2'}} zł</td>
    </tr>
  </tbody>
</table>
